body, 
html {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
    line-height: 1.5;
    color: #4a69b3;
    scroll-behavior: smooth;
}

.navbar {
    background-color: #ffec89;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    display: flex;
    top: 0;
    align-items: center;
    padding-left: 20px;
}

nav {
    padding-right: 35px;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none; 
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
    color: #4a69b3;
}

nav a:hover {
    color: #ba3801;
}

.logo {
    color: #4a69b3;
}

.bg-1 {
    background-image:url("https://images.unsplash.com/photo-1497215728101-856f4ea42174?q=80&w=2070");
}

.bg-2 {
    background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070");
}

.parallax {
    min-height: 100vh;
    height: auto;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.img-profile {
    height: 150px;
    width: 150px; 
    border-radius: 100%;
    object-fit: cover;
}

.content {
    background-color: #f8f8f8;
    color: #4a69b3;
    padding: 40px;
    border-radius: 10px;
    width: 30%;
}

.content h1 {
    font-size: 2rem;
    text-align: center;
}

.normal-section {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffec89
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.wraper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.ability {
    border: 1px solid #4a69b3;
    padding: 10px;
    border-radius: 10px;
    width: 225px;
    text-align: left;
}

.ability h3 {
    text-align: center;
}

.gallery {
    gap: 22px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

figure img {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    object-fit: cover;
}

figure {
    transition: 0.3s;
    background-color: #4a69b3;
    color: #f8f8f8;
    border-radius: 6px;
    padding: 10px 10px 60px 10px;
}

figure:hover {
    transform: scale(2.05);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.nav-container button {
    display: none;
}

@media (max-width: 1200px) {
    .gallery {
        grid-template-columns:repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .nav-container button {
        display: block;
    }
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f8f8f8;
        width: 200px;
        padding: 10px 0px;
        top: 55px;
        right: 0;
    }
    nav a {
        padding: 10px;
    }
    nav.show {
        display: flex;
    }
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type='text'],
input[type='email'],
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #4a69b3;
    border-radius: 4px;
}

button {
    background-color: #4a69b3;
    padding: 2%;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
    border: none;
}

.contact h1 {
    font-size: 2rem;
}

.normal-section2 {
    text-align: center;
    padding: 80px 20px;
    background-color: #ffec89;
}
