body, 
html {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100%;
    line-height: 1.5;
    color: #4a69b3;
}

.navbar {
    background-color: #ffec89;
    position:fixed;
    width: 100%;
    justify-content: space-between;
    display: flex;
    top: 0;
    align-items: center;
    padding-left: 20px;
}

nav {
    padding-right: 35px;
}

nav a {
    text-decoration: none; 
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
    color: #4a69b3;
    
}

nav a:hover {
    color: #ba3801;
}

.logo {
    color: #4a69b3;
}

.bg-1 {
    background-image:url("https://images.unsplash.com/photo-1497215728101-856f4ea42174?q=80&w=2070");
    
}

.parallax {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-profile {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.content {
    background-color: #ffffff;
    color: #4a69b3;
    padding: 40px;
    border-radius: 10px;
    width: 30%;
}

.content h1 {
    font-size: 3rem;
}